:root {
    --main-color-one: #14274E;
    --main-color-two: #173061;
    --title: #5683c7;
    --nav-link: #fff;
    --box-color: #B0C4DEFF;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
}

.section {
    display: flex;
    flex-direction: row;
}

.box-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.column-width {
    flex: 35%
}

.div-left {
    width: 25%;
    text-align: right;
    padding: 20px;
    color: white;
}

.div-right {
    width: 75%;
    padding: 20px;
}

.header {
    background: var(--main-color-two);
}

.footer {
    background: var(--box-color);
    color: white;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 15px;
    text-decoration: none;
    font-size: 20px;
    color: var(--nav-link);
}

.profile-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 50%;
}

.odd-div-left {
    background: var(--main-color-one);
}

.even-div-left {
    background: var(--main-color-two);
}

.even-div-right {
    background: var(--box-color);
}

.title {
    text-align: center;
    color: var(--main-color-one);
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 20px;
}

.sub-title {
    text-align: center;
    color: var(--main-color-two);
    line-height: 50px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.texting {
    font-size: 18px;
    color: var(--main-color-one);
}

.contact-link {
    text-decoration: none;
    padding: 0 20px;
}

.contacts-item {
    position: relative;
    flex: 35%;
    margin: 20px 10%;
    padding-left: 35px;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color-two);
}

.contacts-item:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts-item:nth-child(1):before {
    background-image: url(./assets/svg/location.svg);
}

.contacts-item:nth-child(2):before {
    background-image: url(./assets/svg/phone.svg);
}

.link {
    text-decoration: none;
    color: var(--title);
}

.link:hover {
    color: blue;
}

.courses-list {
    list-style: none;
    padding: 0;
}

table {
    width: 100%;
    text-align: center;
}